<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player1 %><br>
    <%= f.text_field :player1 %>
  </div>
  <div class="field">
    <%= f.label :player2 %><br>
    <%= f.text_field :player2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
