<p id="notice"><%= notice %></p>

<p>
  <strong>Player1:</strong>
  <%= @game.player1 %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @game.player2 %>
</p>

<p>
  <strong>Board:</strong>
  <%= @game.board %>
</p>

<%= link_to 'Back', games_path %>

 <div id="tic-tac-toe game ">
<div class="span5 new_span">
<div class="row">
<h1 class="span3">Tic Tac Toe</h1>
<div class="span3">
<div class="input-prepend input-append">
    <span class="add-on win_text">O won</span><strong id="o_win" class="win_times add-on">0</strong><span class="add-on">time(s)</span>
    </div>
    <div class="input-prepend input-append">
    <span class="add-on win_text">X won</span><strong id="x_win" class="win_times add-on">0</strong><span class="add-on">time(s)</span>
    </div>
      
</div>


    
</div>
<ul class="row" id="game">
 <% eval(@game.board).each_with_index do |i,index| %>
                <%="<li id='i#{index}' class='btn span1'>".html_safe%>
                    <%= i || 'null' %>                    
                    <%= link_to 'Edit', edit_game_path(@game, :boardId => index) %>
                <%=%>
 <%end%>
</ul>
<div class="clr">&nbsp;</div>
<div class="row"><a href="#" id="reset" class="btn-success btn span3" >Restart</a></div></div>
</div>