

<h1>The world of Ideas</h1>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.reverse.each do |post| %>
      <tr >
        <td class="active"><a href='posts/<%=	post.id  %>'><%=  post.title %></a></td>        
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        
        <td ><%= link_to 'Destroy',post, :method => :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button class="btn btn-default" type="submit">
<%= link_to 'New Post', new_post_path %>
</button>
